table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.box1 {
    background-color: lightblue;
}

.box2 {
    background-color: lightgreen;
}

/* เมื่อลดขนาดหน้าจอ */
/* @media (max-width: 600px) {
    td {
        display: block;
        width: 100%;
        height: 100%;
    }
} */
